<?xml version="1.0" encoding="UTF-8"?>
<model name="plugin" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://schema.qcadoo.org/model"
	xsi:schemaLocation="http://schema.qcadoo.org/model http://schema.qcadoo.org/model.xsd">
	<fields>
		<string name="identifier" />
		<string name="version" />
		<enum name="state" values="ENABLED,DISABLED,TEMPORARY" />
		<boolean name="isSystem" />
		<string name="name" persistent="false" />
		<string name="description" persistent="false" />
		<string name="vendor" persistent="false" />
		<string name="vendorUrl" persistent="false" />
	</fields>
	<hooks />
</model>