<?xml version="1.0" encoding="UTF-8"?>
<plugin plugin="plugin3" version="1.2.3" system="true"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schema.qcadoo.org/plugin"
	xmlns:testModel="http://schema.qcadoo.org/modules/testModel" xmlns:view="http://schema.qcadoo.org/modules/view"
	xmlns:localization="http://schema.qcadoo.org/modules/localization"
	xsi:schemaLocation="
       http://schema.qcadoo.org/plugin
       http://schema.qcadoo.org/plugin.xsd
       http://schema.qcadoo.org/modules/testModel
       http://schema.qcadoo.org/modules/testModel.xsd
       http://schema.qcadoo.org/modules/view
       http://schema.qcadoo.org/modules/view.xsd
       http://schema.qcadoo.org/modules/localization
       http://schema.qcadoo.org/modules/localization.xsd">

	<information>
		<name>plugin3</name>
		<description>plugin3 descriptor</description>
		<vendor>
			<name>plugin3 vendor</name>
			<url>plugin3 url</url>
		</vendor>
	</information>
	
	<modules>
		<testModel:mock />
	</modules>
	
</plugin>