<?xml version="1.0" encoding="UTF-8"?>
<plugin plugin="plugin2" version="1.2.4"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schema.qcadoo.org/plugin"
	xmlns:testModel="http://schema.qcadoo.org/modules/testModel" xmlns:view="http://schema.qcadoo.org/modules/view"
	xmlns:localization="http://schema.qcadoo.org/modules/localization"
	xsi:schemaLocation="
       http://schema.qcadoo.org/plugin
       http://schema.qcadoo.org/plugin.xsd
       http://schema.qcadoo.org/modules/testModel
       http://schema.qcadoo.org/modules/testModel.xsd
       http://schema.qcadoo.org/modules/view
       /Users/mnawalany/Documents/workspace/qcadoo/qcadoo-view/src/main/resources/com/qcadoo/view/modules/view.xsd
       http://schema.qcadoo.org/modules/localization
       http://schema.qcadoo.org/modules/localization.xsd">

	<information>
		<name>plugin2</name>
		<description>plugin2 descriptor</description>
		<vendor>
			<name>plugin2 vendor</name>
			<url>plugin2 url</url>
		</vendor>
	</information>
	
	<dependencies>
		<dependency>
			<plugin>plugin1</plugin>
			<version>[1.2.0,1.3.0)</version>
		</dependency>
	</dependencies>
	
	<modules>
		<testModel:mock />
	</modules>
	
</plugin>